#myBakery {
    width: 100%;
}
body {
    margin:0;
    background-color: #fbeee0;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    color: #d55b3d;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
}

.image-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading-h2 {
    color: #d55b3d;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.pictures-section {
    margin: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.item {
    background-color: #ffbdb0;
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.item-name {
    color: #d55b3d;
    font-family: "Montserrat", sans-serif;
}

ul {
    background-color: #fbeee0;
    color: #7c7575;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

del {
    font-size: 20px;
    color: #526166;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

ins {
    display: inline-block;
    transform: rotate(-7deg);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #526166;
}

.price {
    color: #526166;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

}

@media all and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 80%;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .heading-h2, .heading {
        font-size: 15px;

    }
}

